.project {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: min-content;
  text-align: center;
}

.project div:nth-child(1) h1 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 0.5rem;
  color: #937dc2;
}

.project__column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col {
  flex-wrap: wrap;
}

.card {
  border-radius: 6px;
  margin: 2.5rem 1.5rem;
  width: 20rem;
  height: max-content;
  max-height: 20rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
}

.image__wrapper {
  width: 100%;
  height: min-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.image__wrapper img {
  width: 100%;
}

.desc {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.4);
}

.desc br {
  display: block;
  margin: 4px 0;
}

.desc p {
  text-align: justify;
  word-wrap: break-word;
  line-height: 1.4;
}
